@font-face {
  font-family: 'Compass';
  src: url('/font/ttf/Compass.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'CompassLight';
  src: url('/font/ttf/CompassLight.ttf');
  font-weight: 100;
}

@font-face {
  font-family: 'CompassBold';
  src: url('/font/ttf/CompassBold.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Light';
  font-weight: normal;
  src: local(HelveticaNeue-UltraLight);
}

@font-face {
  font-family: 'KomikaTight';
  src: url('/font/ttf/KomikaTight.ttf');
  font-weight: 100;
}

@font-face {
	font-family: "SSStandard";
	src: url('/font/eot/ss-standard.eot');
	src: url('/font/eot/ss-standard.eot?#iefix') format('embedded-opentype'), 
	     url('/font/woff/ss-standard.woff') format('woff'), 
	     url('/font/ttf/ss-standard.ttf')  format('truetype'),
	     url('/font/svg/ss-standard.svg#SSStandard') format('svg');
	font-weight: normal;
  font-style: normal;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
input[type="text"], input[type="password"], textarea, select { 
    outline: none;
}

a {
  color: #525252;
  text-decoration: none;
  border-bottom: 1px solid #525252;
}

.curly {
  font-family: "adelle";
  font-weight: 100;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  border-top: 4px solid #455860;
  min-height: 100%;
  position: relative;
  padding: 0 0 100px 0;
  margin: 0;
  color: #525252;
  background: white;
  /*background-image: url('/img/blueprint-dark.jpg');*/
}

hr {
  border: 0;
  border-bottom: 1px dashed #ccc;
  background: transparent;
}

.center {
  text-align: center;
}

.left {
  float: left;
}

.icon-huge {
  font-size: 140px;
  padding: 0;
  margin: 0 10px 0 10px;
}

#container {
  width: 960px;
  height: 100%;
  margin: auto auto;
}

#wrap {
  margin: auto auto;
}

#signup {
  width: 640px;
  margin: 20px auto 20px auto;
  display: block;
}

#signup input {
  float: left;
  font-size: 40px;
  height: 50px;
  line-height: 40px;
  padding-left: 10px;
  font-family: 'Light';
  color: #525252;
}

#signup input[type="text"] {
  border: 1px solid #525252;
  background: transparent;
  width: 415px;
}
#signup input::-webkit-input-placeholder {
  color: #525252;
}
#signup input:-moz-placeholder {
  color: #525252;
}
#signup input:-ms-input-placeholder {
  color: #525252;
}

#hero {
  display: table;
  margin: 20px auto 20px auto;
  padding: 0;
}

#hero p {
  float: left;
  width: 400px;
  padding: 20px 0 0 0;
  font-size: 50px;
  font-family: "Light";
  font-weight: normal;
  color: #525252;
}

#hero h1 {
  font-weight: normal;
  font-size: 120px;
  float: left;
  margin: 0;
  padding: 20px 0 0 0;
  width: 430px;
  display: block;
  overflow: hidden;
  text-align: top;
  font-family: 'CompassBold';
}

#error {
  display: table;
  margin: 200px auto 20px auto;
  border-top: 1px dashed #ccc;
  border-bottom: 1px dashed #ccc;
}

#error h1 {
  font-weight: normal;
  font-size: 120px;
  float: left;
  margin: 0;
  padding: 20px 0 0 0;
  width: 380px;
  display: block;
  overflow: hidden;
  text-align: top;
  font-family: 'CompassBold';
}

#error p {
  float: left;
  width: 420px;
  padding: 20px 0 0 0;
  font-size: 50px;
  font-family: "Light";
  font-weight: normal;
  color: #525252;
}


.lead {
  width: 960px;
  margin: 60px auto 60px auto;
}

.lead h2 {
  font-family: "adelle";
  font-size: 44px;
  font-weight: 100;
  color: #525252;
  margin: 0;
}

.lead strong {
  font-family: "adelle";
  font-weight: 400;
}

.row {
  margin: 20px auto 80px auto;
  display: table;
}

.span4 {
  width: 300px;
  padding: 0 10px 0 10px;
  float: left;
  margin: 0;
}

.span4 h4 {
  font-family: "Light";
  font-size: 22px;
  font-weight: normal;
  padding: 0;
  margin: 0 0 10px 0;
}

.span6 {
  width: 420px;
  padding: 0 10px 0 10px;
  float: left;
  margin: 0;
}

.span6 h3 {
  color: #444;
  font-family: "Light";
  font-size: 22px;
  font-weight: bold;
  padding: 0;
  margin: 0 0 8px 0;
}

.span6 h4 {
  font-family: "Light";
  font-size: 22px;
  font-weight: normal;
  padding: 0;
  margin: 0 0 10px 0;
}

.span6 p {
  font-family: 'Helvetica', "Open Sans", "lucidia grande", sans-serif;
  font-size: 18px;
  font-weight: 100;
  margin: 0;
  padding: 0;
}

strong {
  font-family: 'Helvetica';
  letter-spacing: -0.04em;
  font-weight: bold;
}

button {
  margin: 0 0 0 10px;
  height: 54px;
  padding: 13px 24px;
  background: #23748e;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border: 1px solid #23748e;
  color: white;
  font-size: 22px;
  font-family: 'Helvetica', 'Lucida Grande', Helvetica, Arial, Sans-Serif;
  text-decoration: none;
}


button:active {
  background: #1b435e;
}

#footer {
  position: absolute;
  bottom: 0;
  height: 100px;
  width: 100%;
  background: url('/img/footer-heatbar.png') repeat-x;
  background-position: bottom;
  font-family: "Open Sans", "lucidia grande", sans-serif;
}

.unselect {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* fancy profile navs */

.profile {
  clear: all;
  border: 3px solid rgba(61,191,217,1);
  width: 192px; height: 192px;
  border-radius: 100%;
  margin: 36px;
  color: #fff;
  position: relative;
  font-size: 32px;
  text-align: center;
  line-height: 54px;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.profile img {
  height: 192px; width: 192px;
  border-radius: 100%;
  opacity: 0.8;
  -webkit-transition: 0.5s ease;
}

.profile img:hover {
  opacity: 1.0;
}

.profile a {
  text-decoration: none;
  color: #fff;
  border: 2px dashed rgba(255,255,255,0);
  border-radius: 100%;
  -webkit-border-radius: 100%;
  height: 48px; width: 48px;
  box-sizing: border-box;
  display: inline-block;
  -webkit-transition: 0.5s ease;
}

.profile a:hover {
  border-color: rgba(255,255,255,0.8);
}

.profile .pos1{
  position: absolute;
  width: 48px; height: 48px;
  background: rgba(61,191,217,1); 
  bottom: -32px;
  left: 72px;
  border-radius: 100%;
}

.profile .pos2{
  position: absolute;
  width: 48px; height: 48px;
  background: rgba(61,191,217,1); 
  bottom: 0;
  left: 0;
  border-radius: 100%;
}

.profile .pos3{
  position: absolute;
  width: 48px; height: 48px;
  background: rgba(61,191,217,1); 
  font-size: 28px;
  bottom: 0;
  left: 144px;
  line-height: 48px; /* different than the others */
  border-radius: 100%;
}
