<footer>
        <div class="span4 offset4">
                {% include author.html %}
        </div>
        <a href="//github.com/trevoro" target="_blank" class="ss-icon ss-social"
                >Octocat</a
        >
        <a
                href="//twitter.com/trevoro"
                target="_blank"
                class="ss-icon ss-social"
                >Twitter</a
        >
        <a
                style="vertical-align: top"
                href="//linkedin.com/in/trevoro"
                target="_blank"
                class="ss-icon ss-social"
                >LinkedIn</a
        >
</footer>
