:root {
        --main-bg-color: rgb(250, 250, 250);
        --main-fg-color: #111827;
        --main-a-color: #4F46E5;
        --indigo-color: rgb(13, 59, 102);
        --lemon-meringue: rgb(250, 240, 202);
        --orange-soda: rgb(249, 87, 56);
}

body {
        color: var(--main-fg-color);
        max-width: 780px;
        padding: 2rem;
        margin: auto auto;
        font-size: 1.2rem;
        font-family: system;
        height: 100%;
}

.container {
        display: flex;
        align-content: center;
}

p {
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        line-height: 1.8rem;
}

code {
        background: rgb(240, 240, 240);
        padding: 0.1rem 0.2rem;
        border-radius: 5px;
}

pre code {
        background: var(--main-fg-color);
        color: var(--main-bg-color);
        white-space: pre-wrap;
}

.meta {
        margin-top: 30px;
        font-family: sans-serif;
        font-size: 1rem;
        color: rgb(130, 130, 130);
}

.meta time {
        color: rgb(170, 170, 170);
}

.meta span {
        display: inline-block;
        margin: 7px 12px;
}

.meta img {
        border-radius: 50%;
        height: 45px;
        width: 45px;
        cursor: pointer;
        float: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
        font-family: sans-serif;
}

a {
        text-decoration: none;
        color: var(--main-a-color);
}

a:hover {
        color: #312E81;
}

h1 a {
        color: var(--main-fg-color);
}

pre {
        background: var(--main-fg-color);
        color: var(--main-bg-color);
        padding: 1.5rem;
        border-radius: 5px;
        font-size: 1rem;
}

.lead {
        max-width: 65ch;
        margin: auto auto;
}

.lead p {
        font-size: 1.3rem;
        line-height: 1.8rem;
}

.lead .title {
        display: flex;
        align-items: center;
        align-content: left;
}

.lead .title img {
        border-radius: 50%;
        margin-right: 40px;
        height: 7rem;
        width: 7rem;
}

h1 {
        font-family: sans-serif;
        font-size: 3vmax;
}

h1.title {
        margin-bottom: 0;
}

article {
        max-width: 68ch;
        margin: auto auto;
}

article ol {
        font-size: 1rem;
}

footer {
        margin: 5rem 0;
        font-size: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
}
