.container.page {
  margin-top: 60px;
}
.container.page .sidebar {
  height: 100%;
}
.container.page .sidebar p {
  color: #525252;
  margin-top: 20px;
  text-align: left;
  line-height: 1.5em;
}
.container.page .sidebar .social-links a {
  color: #bbb;
}
.icon-hn {
  font-size: 20px;
  border: 1px solid #d7d7d7;
  padding: 4px 7px 10px 5px;
  line-height: 24px;
  margin-top: 3px;
  margin-left: 3px;
  background: #d7d7d7;
  color: #fff;
}
.icon-hn:before {
  content: 'Y';
}
#posts {
  padding-top: 55px;
}
#posts h3 {
  line-height: 1.3em;
  margin-bottom: 2em;
  margin-top: 0.4em;
}
.draft-alert {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  margin-top: 20px;
  margin-bottom: 0;
}
article {
  padding-top: 20px;
  font-family: 'Lato', Georgia, Cambria, 'Times New Roman', Times, serif;
  vertical-align: baseline;
  display: block;
  margin-bottom: 60px;
}
article .meta {
  font-family: "Helvetica Neue", "arial", sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 2rem;
}
article .social {
  margin-top: 60px;
}
article .social .ss-icon {
  font-size: 32px;
  text-align: right;
  color: #d7d7d7;
  line-height: 40px;
  padding-top: 5px;
}
article h2 {
  font-size: 1.5em;
  font-weight: 700;
  line-height: 51px;
  padding: 5px 0 5px 0;
  margin-left: -2px;
  margin-bottom: 2rem;
  color: rgb(52, 73, 94);
}
article h2 a {
  font-family: 'Lato', Geneva, Verdana, sans-serif;
  font-weight: bold;
  text-decoration: none;
  border: none;
  color: rgb(52, 73, 94);
}
article h3 {
  margin-top: 1em;
  line-height: 1.15em;
}
h3.slug {
  margin-top: 0;
  font-weight: normal;
}
article h5 {
  width: 100%;
  color: #777;
  font-size: 14px;
  font-weight: 100;
  padding: 5px 0 5px 0;
}
article img {
  display: block;
  margin: auto auto;
}
article p {
  font-weight: 300;
  font-size: 20px;
  line-height: 1.5em;
  letter-spacing: normal;
  margin: 1rem auto 1.5rem auto;
}
button {
  height: 54px;
  padding: 13px 24px;
  background: #23748e;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border: 1px solid #23748e;
  color: white;
  font-size: 22px;
  text-decoration: none;
}
.curly {
  font-family: "adelle";
  font-weight: 100;
}
footer {
  bottom: 0;
  width: 100%;
  padding: 20px 0 60px 0;
  background-position: bottom;
  text-align: center;
}
.social-links {
  margin-top: 20px;
  text-align: center;
  font-size: 36px;
}
.social-links .ss-icon {
  vertical-align: middle;
}
a {
  color: rgb(25, 184, 153);
  text-decoration: none;
}
#wrap {
  margin: auto auto;
}
body {
  background: #fff;
  color: rgb(52, 73, 94);
}
.unselect {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
button:active {
  background: #1b435e;
}
strong {
  font-weight: normal;
}
.center {
  text-align: center;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.rss-fixed {
  position: fixed;
  bottom: 10px;
  left: 10px;
} 

@media (max-width: 767px) {
  body {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  .container {
    padding-right: 20px !important;
    padding-left: 20px !important;
  }
}

ol li {
  font-weight: bold;
  font-size: 1.1rem;
}
