<!DOCTYPE html>
<html lang="en-us">
  <head>
		<title>{{ page.title }}</title>
		<link rel="shortcut icon" href="/favicon.ico" />
		<link href="/css/ss-standard.css" type="text/css" rel="stylesheet">
		<link href="/css/ss-social.css" type="text/css" rel="stylesheet">
		<link href="/css/style.css" type="text/css" rel="stylesheet">
		<script type="text/javascript" src="//use.typekit.net/bda0jmr.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
  <body>
		<div id="container">
			<div id="topnav">
				<h1 class="logo">trevoro</h1>
			</div>
			<hr/>
	
			{{content}}

		</div>
		<div id="footer">
			<div class="center">
				&copy; trevoro.net 2013
			</div>
		</div>
		<script type="text/javascript">

			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-3428773-1']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();

		</script>
  </body>
</html>
