{% assign author = site.authors[page.author] %}
{% capture page_url %}{{ site.production_url }}{{ page.url }}{% endcapture %}

<!DOCTYPE html>
<html lang="en-us">
  <head>
    <title>{{ page.title }}</title>
    {% include header.html %}
  </head>
	<body>
		<div class="container">
      <div class="row">
        <div class="span8 offset2">
          <article>
            <h2><a href="{{ page.url }}">{{ page.title }}</a></h2>
            <h3 class="slug">{{ page.slug }}</h3>
            <div class="meta">
              <time datetime="{{ page.date | xmlschema }}">{{ page.date | date: "%b %d %Y" }}</time>
            </div>
            {{ content }}
            <div class="social row-fluid">
              <a href="#" data-url="{{ page_url }}" data-text="{{ page.title }}" id="share-twitter" class="btn btn-primary pull-left">Share</a>
              <a href="#" data-url="{{ page_url }}" id="share-facebook" class="ss-icon ss-social pull-right">facebook</a>
              <a href="#" data-url="{{ page_url }}" id="share-gplus" style="padding-top: 11px" class="ss-icon ss-social pull-right">googleplus</a>
            </div>
          </article>
        </div>
      </div>
    </div>
    <footer>
      {% include footer.html %}
    </footer>
  </body>
</html>
