{% assign author = site.authors[page.author] %} {% capture page_url %}{{
site.production_url }}{{ page.url }}{% endcapture %}

<!DOCTYPE html>
<html lang="en-us">
  <head>
    <title>{{ page.title }}</title>
    {% include header.html %}
  </head>
  <body>
    <div class="container">
      {% if page.hidden %}
      <div class="row draft-alert">
        <div class="span8 offset2 alert alert-info">
          <b>This is a draft</b> You've been given this link in confidence.
          Please don't share it with anyone. Thanks!
        </div>
      </div>
      {% endif %}
      <div class="row">
        <div class="span8 offset2">
          <article>
            <h1 class="title">
              <a href="{{ page.url }}">{{ page.title }}</a>
            </h1>
            <div class="meta">
              <img
                src="https://pbs.twimg.com/profile_images/1280985135236562944/0R71bNoZ_200x200.jpg"
                height="0"
                width="0"
              />
              <span>
                Trevor Orsztynowicz<br />
                <time datetime="{{ page.date | xmlschema }}"
                  >{{ page.date | date: "%D" }}</time
                >
              </span>
            </div>
            {{ content }}
            <div class="social row-fluid">
              {% if page.hnid != null %}
              <a
                href="https://news.ycombinator.com/item?id={{ page.hnid }}"
                target="_blank"
                class="ss-icon pull-right"
                ><span class="icon-hn"></span
              ></a>
              {% endif %}
            </div>
          </article>
        </div>
      </div>
    </div>
    <footer>
      {% include footer.html %}
    </footer>
  </body>
</html>
