<!DOCTYPE html>
<html lang="en-us">
  <head>
		<title>{{ page.title }}</title>
		<link rel="shortcut icon" href="/favicon.ico" />
		<link href="/css/ss-standard.css" type="text/css" rel="stylesheet">
		<link href="/css/ss-social.css" type="text/css" rel="stylesheet">
		<link href="/css/style.css" type="text/css" rel="stylesheet">
		<script type="text/javascript" src="//use.typekit.net/bda0jmr.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
	<body>

		<div id="container">
			<div id="header">
				<h1 class="logo">caliper</h1>
			</div>
			{{content}}
		</div>

		<div id="footer">
			<div class="center">
				&copy; CALIPER.IO 2012
			</div>
		</div>
		<script type="text/javascript">

			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-36716401-1']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();

		</script>
  </body>
</html>
